<div id="hre-about-page">
  <div class="hre-icon-with-title">
    <div class="hre-about-large-text margin-top">
      <span class="hre-pb-title">PerformanceBridge</span>
      Application Suite
    </div>
  </div>

  <div class="hre-about-large-text">
    <div class="margin-top">
      <span class="hre-pb-title">PerformanceBridge</span>
      app_name
    </div>

    <div>Version app_version</div>
  </div>

  <div class="margin-top hre-about-main-text">
    © Koninklijke Philips N.V. copyright_year. All rights are reserved. Reproduction or transmission in whole or in part, in any form or by any means, electronic, mechanical or otherwise, is prohibited without the prior written consent of the copyright owner.
    <br>
    Copyrights and all other proprietary rights in any software and related documentation ("Software") made available to you rest exclusively with Philips or its licensors. No title or ownership in the Software is conferred to you. Use of the Software is subject to the end user license conditions as are available on request.
    <br>
    To the maximum extent permitted by law, you shall not decompile and/or reverse engineer the software or any part thereof.
    <br>
    Not for diagnostic, monitoring or therapeutic purposes or in any other manner for regular medical practice.

    <div class="hre-about-table">
      <div class="hre-about-table-cell">
      
      </div>
      <div class="hre-about-table-cell">
        Philips Healthcare
        <br>
        3000 Minuteman Road, Andover, MA 01810, USA
      </div>
    </div>
  </div>

</div>
